.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0;
    border-radius: 5px;
    background-color: #f8f8f8;
    padding: .8rem;

    span{
        margin-left: .8rem;
        font-size: 1.5rem;
    }
}